.title123 {
  color: red !important;
}

.card-img-top {
  object-fit: cover;
  height: 250px;
}

.audio{
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgray;
}

.video{
  min-height: 250px;
}
